.square{
    width:100px;
    height:100px;
    text-align: center;
    vertical-align: middle;
    font: bold 45px sans-serif;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.X{
    background: url('../images/piece_x.png') no-repeat center center;
}

.O{
    background: url('../images/piece_o_2.png') no-repeat center center;
}

.gb{
    background: url('../images/background.png') repeat;
}

.winner{
    color: red;
}
