<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Morphling - Settings</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ url_for('static', filename='css/bootstrap.min.css') }} rel="stylesheet">

    <!-- Custom CSS -->
    <link href={{ url_for('static', filename='css/simple-sidebar.css') }} rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script src={{ url_for('static', filename='js/firebase_config.js') }}></script>
</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Morphling
                    </a>
                </li>
                <li>
                    <a href={{ url_for('bootstrap') }}>Game</a>
                </li>
                <li>
                    <a href={{ url_for('settings') }}>Settings</a>
                </li>
                <li>
                    <a href={{ url_for('ranking') }}>Ranking</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Settings</h1>
                        <!-- <p> a page for settings </p> -->
                        <form style="width: 400px">
                          <div class="form-group">
                            <label for="delay">Delay</label>
                            <input type="number" class="form-control" value={{  delay if delay != None }} id="delay" placeholder="s">
                          </div>
                          <div class="form-group">
                            <label for="timeout">Timeout</label>
                            <input type="number" class="form-control" value={{ timeout if timeout != None }} id="timeout" placeholder="s">
                          </div>
                          <button type="submit" class="btn btn-primary" id="update-setting">Submit</button>
                          <br><br>
                          <div class="form-group">
                            <label for="names">Names</label>
                            <textarea class="form-control" id="names" rows="4" placeholder="Split by row"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary" id="add-player">Add players</button>
                          <br><br>
                          <div class="form-group">
                            <label for="players">1 vs 1</label>
                            <textarea class="form-control" id="players" rows="2" placeholder="Split by row"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary" id="new-game">New Game</button>
                      </form>
                      <br>
                      <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src={{ url_for('static', filename='js/jquery.js') }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>

    <script>

    $("#update-setting").click(function(e) {
        e.preventDefault();
        var settingRef = firebase.database().ref('settings');
        var delay = $('#delay').val();
        var timeout = $('#timeout').val();
        settingRef.update({
            "delay": delay,
            "timeout": timeout
        }, function(error) {
            if (error) {
              alert("Data could not be saved." + error);
            } else {
              alert("Settings updated");
            }
        });
    });

    $("#add-player").click(function(e) {
      e.preventDefault();
      var players = $('#names').val().split("\n");

      var playersRef = firebase.database().ref('players');
      var existed = false;

      playersRef.once('value').then( function(snapshot) {
           var playerUpdates = [];

           players.sort();

           for (var i = 0; i < players.length - 1; i++) {
              if (players[i + 1] === players[i]) {
                  existed = true;
                  return existed;
              }
           }

           snapshot.forEach( function(childSnapshot) {

              for(var k = 0; k < players.length; k ++) {
                  if (childSnapshot.val().name === players[k]) {
                      console.log(childSnapshot.val().name === players[k])
                      alert(childSnapshot.val().name + " already existed");
                      existed = true;
                      return existed;
                  }
              }

          });

          if (!existed) {
             for(var k = 0; k < players.length; k ++) {
                 var newPlayerKey = firebase.database().ref().child('players').push().key;
                 var playerData = {
                    name:players[k],
                    score:0
                 };
                 var updates = {};
                 updates['/players/' + newPlayerKey] = playerData;
                 playerUpdates.push(updates);
                 console.log(players[k] + " added");
             }
          }

          console.log(playerUpdates.length);
          for (var i = 0; i < playerUpdates.length; i++) {
              firebase.database().ref().update(playerUpdates[i]);
          }

          return existed;
     });
    });

    $("#new-game").click(function(e) {
        var updated = false;
        e.preventDefault();
        console.log("New game Clicked");
        var playerNames = $('#players').val().split("\n");

        var playersRef = firebase.database().ref('players');
        var playerKeys = [];
        function updateGame(playerKeys) {
            var newGameKey = firebase.database().ref().child('games').push().key;
            var gameData = {
              player1:playerKeys[0],
              player2:playerKeys[1]
            };
            var updates = {};
            updates['/games/' + newGameKey] = gameData;
            updated = true;

            return firebase.database().ref().update(updates);
        }

        playersRef.once('value').then( function(snapshot) {
            for (var i = 0; i < playerNames.length; i ++) {
              snapshot.forEach(function(childSnapshot) {
                if (childSnapshot.val().name === playerNames[i] && playerKeys.indexOf(childSnapshot.key) === -1) {
                    playerKeys.push(childSnapshot.key);
                    console.log(playerKeys.length);
                    return true;
                }
              });
            }

            if (playerKeys.length !== 2)
                alert("Name not existed or two names duplicated");
            else {
                updateGame(playerKeys);
                return true;
            }
            return false;
       });

       firebase.database().ref('games/').limitToLast(1).on('child_added', function(snapshot) {
            if (updated) {
                $( "p:first" ).html( snapshot.key + " created" );
                updated = false;
            }
            console.log(snapshot.key + " created");
       });

    });
    </script>
</body>

</html>
